* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    position: fixed;
    bottom: 36px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px 12px;
    border-radius: 8px;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.stagger-link {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
}